.container{
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
#circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: red;
    text-align: center;
    display: flex;
    /* z-index: 99; */
}
.shape{

    position: relative;
    width: 70px;
    height: 70px;
    /* color: blue; */
    background-color: blue;
    z-index: 100;
    margin-top: 40px;
    margin-left: 40px;
   
}
.triangle{
    background-color: transparent;
    position: relative;
    left: 38px;
    top: 40px;
    width: 0;
    height: 0;
    border-bottom: 75px solid blue;
    border-right: 75px solid transparent;
}
