*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    width: 20%;
}
#targetDiv{
    margin-top: 40px;
    width: 20%
    ;
}